@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@300&family=Poppins:wght@300&family=Roboto+Mono:wght@300&family=Roboto:wght@100&family=Titillium+Web:wght@200&display=swap");
.header {
  width: 100%;
  height: 20vh;
  margin-top: 10px;
}
.header .navbar {
  display: flex;
  background-color: rgb(12, 12, 12);
  font-family: "Titillium Web", sans-serif;
}
.header .navbar .navbar-brand img {
  height: 17vh;
}
.header .navbar .button,
.header .navbar .button::before,
.header .navbar .button::after,
.header .navbar .button span,
.header .navbar .button span::before,
.header .navbar .button span::after {
  transition: all ease 0.5s;
}
.header .navbar .button {
  position: relative;
  display: inline-block;
  padding: 0.3em 2rem;
  border: solid 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.header .navbar .button:hover {
  box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.5);
}
.header .navbar .button span {
  display: inline-block;
  width: 100%;
  padding: 0.6em 2em;
}
.header .navbar .button:hover span {
  background-color: #fff;
  color: #112;
}
.header .navbar .button::before,
.header .navbar .button::after,
.header .navbar .button span::before,
.header .navbar .button span::after {
  content: "";
  position: absolute;
  border: 1px;
}
.header .navbar .button::before,
.header .navbar .button span::before {
  border-style: solid none;
}
.header .navbar .button::before,
.header .navbar .button span::after {
  left: 0;
  top: -0.4em;
  width: 100%;
  height: calc(100% + 0.8em);
}
.header .navbar .button::after,
.header .navbar .button span::after {
  border-style: none solid;
}
.header .navbar .button::after,
.header .navbar .button span::before {
  top: 0;
  left: -0.4em;
  height: 100%;
  width: calc(100% + 0.8em);
}
.header .navbar .button:hover::after,
.header .navbar .button:hover span::after {
  transform: scaleY(0);
}
.header .navbar .button:hover::before,
.header .navbar .button:hover span::before {
  transform: scaleX(0);
}
.header .navbar .button:hover span::after,
.header .navbar .button:hover span::before {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .header .navbar .navbarCont {
    height: 40vh;
    width: 100%;
    margin-left: -24px;
    position: relative;
    background-color: rgb(12, 12, 12);
    padding: 20px;
    z-index: 10;
  }
  .header .navbar .navbarCont .nav-item {
    margin-top: 1.5rem;
  }
  .header .navbar .collapseContainer {
    z-index: 11;
  }
  .header .navbar .smnavbar {
    background-color: rgb(12, 12, 12);
  }
}
.main .carouselContainer {
  z-index: 1;
}
.main .carouselContainer .carousel-item .imgCarousel {
  height: 80vh;
}
.main .tituloPrincipal {
  text-align: center;
  border-bottom: 2px solid #7a7a7a;
  padding-bottom: 10px;
  font-family: "Alumni Sans", sans-serif;
  z-index: 11;
  position: relative;
  margin-top: 150px;
}
.main .sectionCards {
  margin-top: 3em;
}
.main .sectionCards .card {
  padding: 10px;
  margin: 0 10px;
  height: 60vh;
  width: 35rem;
  text-align: center;
  background-color: rgb(228, 228, 228);
  border: 2px solid rgba(0, 0, 0, 0.322);
  box-shadow: 10px 10px 5px rgba(83, 82, 82, 0.486);
}
.main .sectionCards .card .card-img-top {
  width: 100%;
  height: 28vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .sectionCards .card .card-title {
  font-size: 1.8rem;
}
.main .sectionCards .card .card-text {
  margin-top: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.main #indexBeneficios .title-heading {
  text-align: center;
  font-weight: bold;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-top: 2px solid #7a7a7a;
  padding-top: 3rem;
}
.main #indexBeneficios .title-heading h2 {
  font-family: "Alumni Sans", sans-serif;
  font-size: 4rem;
}
.main #indexBeneficios .card {
  margin: 10px auto;
  box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  height: 46vh;
  transition: 0.3s;
}
.main #indexBeneficios .card:hover {
  box-shadow: 1px 10px 16px 0 rgba(0, 0, 0, 0.3);
}
.main #indexBeneficios .card .card-title {
  text-align: center;
  color: #666666;
  font-weight: bold;
  font-family: "Open Sans";
}
.main #indexBeneficios .card .card-text {
  font-weight: 500;
  color: #66686b;
}
.main #indexBeneficios .card .card-image {
  text-align: center;
  height: 20vh;
  margin-bottom: 20px;
}
.main #indexBeneficios .card .card-image img {
  margin-top: 2rem;
  padding-bottom: 3rem;
  width: 40%;
  height: 90%;
}
.main #indexBeneficios .card .card-text {
  text-align: center;
}

@media screen and (max-width: 576px) {
  .main {
    height: 510vh;
  }
  .main .carouselContainer {
    top: 100px;
  }
  .main .carouselContainer .carousel-item .imgCarousel {
    height: 40vh;
  }
  .main .tituloPrincipal {
    position: relative;
  }
  .main .sectionCards .card {
    width: 95%;
    height: 50vh;
    margin-top: 4rem;
    text-align: center;
  }
  .main .sectionCards .card .card-title {
    font-size: 1.4rem;
  }
  .main #indexBeneficios .title-heading h2 {
    font-size: 2.5rem;
  }
  .main #indexBeneficios .card {
    width: 85%;
  }
}
.mainProd {
  width: 100%;
}
.mainProd .tituloCards {
  text-align: center;
  margin-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: 2px solid #7a7a7a;
}
.mainProd .tituloCards h1 {
  font-size: 4rem;
  font-family: "Titillium Web", sans-serif;
}
.mainProd .tituloCards p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
.mainProd .containerCards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  height: 120vh;
}
.mainProd .containerCards .cardProd--bronce, .mainProd .containerCards .cardProd--gold, .mainProd .containerCards .cardProd--platinum {
  margin-left: 50px;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.322);
  border-radius: 6px;
  box-shadow: 10px 10px 5px rgba(83, 82, 82, 0.486);
  background: linear-gradient(to bottom right, #8c5836, #b87333, #daa520, #b87333, #8c5836);
}
.mainProd .containerCards .cardProd--bronce .h3Card, .mainProd .containerCards .cardProd--gold .h3Card, .mainProd .containerCards .cardProd--platinum .h3Card {
  border-top: 2px solid #7a7a7a;
  margin-top: 10px;
  margin: 10px 20px;
}
.mainProd .containerCards .cardProd--bronce p, .mainProd .containerCards .cardProd--gold p, .mainProd .containerCards .cardProd--platinum p {
  text-align: left;
  margin-left: 2rem;
}
.mainProd .containerCards .cardProd--bronce .precio, .mainProd .containerCards .cardProd--gold .precio, .mainProd .containerCards .cardProd--platinum .precio {
  font-size: 2rem;
  color: rgb(3, 3, 58);
}
.mainProd .containerCards .cardProd--bronce .btn-precio, .mainProd .containerCards .cardProd--gold .btn-precio, .mainProd .containerCards .cardProd--platinum .btn-precio {
  background-color: rgb(59, 59, 129);
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 4px;
  display: block;
  margin: 0 4rem;
}
.mainProd .containerCards .cardProd--bronce .btn-precio:hover, .mainProd .containerCards .cardProd--gold .btn-precio:hover, .mainProd .containerCards .cardProd--platinum .btn-precio:hover {
  background-color: rgb(84, 84, 197);
}
.mainProd .containerCards .cardProd--platinum {
  background: linear-gradient(to bottom right, #666666, #cccccc, #666666);
}
.mainProd .containerCards .cardProd--gold {
  background: linear-gradient(to bottom right, #8c7d39, #ffd700, #8c7d39);
}

/*Mq para celulares*/
@media screen and (max-width: 576px) {
  .mainProd {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .mainProd .tituloCards h1 {
    font-size: 2.5rem;
  }
  .mainProd .tituloCards p {
    font-size: 1.1rem;
  }
  .mainProd .containerCards {
    margin-left: -1.5rem;
  }
  .mainProd .containerCards .cardProd--bronce, .mainProd .containerCards .cardProd--platinum, .mainProd .containerCards .cardProd--gold {
    margin-bottom: 1rem;
  }
}
.mainMasinformacion {
  height: 200vh;
}
.mainMasinformacion .mainNosotros {
  height: 100vh;
  background-color: rgb(199, 196, 196);
}
.mainMasinformacion .mainNosotros .rowInfo {
  display: flex;
  padding-left: 180px;
  padding-top: 50px;
}
.mainMasinformacion .mainNosotros .rowInfo .imgDerecha {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  width: 50%;
  height: 90vh;
  background-image: url("../assets/img/pexels-manuel-geissinger-325229.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.mainMasinformacion .mainNosotros .rowInfo .pIzquierda {
  height: 90vh;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 30px;
  color: white;
  background-color: rgb(68, 67, 67);
  width: 38%;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
.mainMasinformacion .mainInformacion .tutoriales {
  margin-top: 5rem;
  padding-top: 5rem;
  border-top: 2px solid #7a7a7a;
}
.mainMasinformacion .mainInformacion .tutoriales .tituloTutoriales {
  text-align: center;
  font-family: "Alumni Sans", sans-serif;
  font-size: 5rem;
}
.mainMasinformacion .mainInformacion .card-group .card {
  margin-left: 3rem;
  margin-top: 5rem;
  border-radius: 0.8rem;
  border: 1px solid rgba(70, 68, 68, 0.459);
  text-align: center;
}
.mainMasinformacion .mainInformacion .card-group .card .cardImginfo {
  border-radius: 1rem;
  padding: 5px;
}

@media screen and (max-width: 576px) {
  .mainMasinformacion {
    height: 330vh;
  }
  .mainMasinformacion .mainNosotros {
    width: 100%;
    height: 130vh;
  }
  .mainMasinformacion .mainNosotros .rowInfo {
    display: flex;
    flex-wrap: wrap;
  }
  .mainMasinformacion .mainNosotros .rowInfo .imgDerecha {
    width: 200%;
    height: 50vh;
    margin-left: -180px;
    border-radius: 0;
  }
  .mainMasinformacion .mainNosotros .rowInfo .pIzquierda {
    margin-left: -180px;
    width: 200%;
    height: 68vh;
    border-radius: 0;
    font-size: 0.9rem;
    text-align: center;
    padding: 1rem;
  }
  .mainMasinformacion .mainInformacion .tutoriales .tituloTutoriales {
    font-size: 3rem;
    margin-bottom: 5rem;
  }
  .mainMasinformacion .mainInformacion .card-group {
    margin-left: -1.5rem;
  }
  .mainMasinformacion .mainInformacion .card-group .card {
    background-color: rgb(199, 196, 196);
    border-radius: 1rem;
    border: 1px solid rgba(70, 68, 68, 0.459);
    text-align: center;
    margin-bottom: -3rem;
  }
  .mainMasinformacion .mainInformacion .card-group .card .cardImginfo {
    border-radius: 1rem;
    padding: 5px;
  }
}
.mainEventos {
  height: 100vh;
}
.mainEventos .tituloEventos {
  margin-top: 5rem;
  text-align: center;
}
.mainEventos .tituloEventos h1 {
  font-size: 4rem;
  font-family: "Alumni Sans", sans-serif;
  border-bottom: 2px solid #7a7a7a;
}
.mainEventos .gridEventos {
  margin-top: 5rem;
}
.mainEventos .gridEventos .cardEventos {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: rgb(228, 228, 228);
}

@media screen and (max-width: 576px) {
  .mainEventos {
    height: 270vh;
    align-items: center;
  }
  .mainEventos .tituloEventos {
    align-items: center;
  }
  .mainEventos .tituloEventos h1 {
    font-size: 2.5rem;
  }
  .mainEventos .cardEventos {
    width: 85%;
    margin-left: 2rem;
  }
}
.mainContacto {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContacto .tituloContacto {
  font-size: 4rem;
  margin-bottom: 10rem;
  font-family: "Alumni Sans", sans-serif;
  border-bottom: 2px solid #7a7a7a;
  padding-bottom: 4rem;
  padding-left: 11.3rem;
  width: 80%;
}
.mainContacto .completeForm {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 60px;
  margin: 12px auto;
  border: 2px solid #ccc;
  border-radius: 20px;
  position: relative;
  z-index: 1;
}
.mainContacto .completeForm .imgContacto {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0 20px;
  transform: translate(-50%, -50%);
  background-color: black;
  border: 2px solid #ccc;
  border-radius: 20px;
  text-align: center;
}
.mainContacto .completeForm .imgContacto img {
  filter: invert(1);
  width: 100px;
}
.mainContacto .completeForm > input,
.mainContacto .completeForm > textarea {
  padding: 12px;
  margin: 12px auto;
  border: 1px solid #ccc;
  color: #ddd;
  background-color: #222;
  border-radius: 4px;
  display: block;
  width: 70vw;
}
.mainContacto .completeForm > textarea {
  height: 100px;
  resize: none;
}
.mainContacto .completeForm > input[type=submit] {
  max-width: 20vw;
  padding-left: 1%;
  padding-right: 1%;
  cursor: pointer;
  transition: 0.35s;
}
.mainContacto .completeForm > input[type=submit]:hover {
  background-color: #555;
}

@media screen and (max-width: 576px) {
  .mainContacto .tituloContacto {
    text-align: center;
    font-size: 1.6rem;
    padding-left: 0;
  }
}
.go-top-container {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  width: 6.6rem;
  height: 6.6rem;
  z-index: -1;
}
.go-top-container .go-top-button {
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  top: 50%;
  left: 50%;
  z-index: -1;
}

.go-top-button i {
  position: absolute;
  font-size: 2.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: #2071b2;
  transition: 0.2s;
}

.show {
  z-index: 10;
}
.show .go-top-button {
  animation: popup 0.3s ease-in-out;
  width: 6.6rem;
  height: 6.6rem;
  z-index: 11;
}
.show i {
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
  0% {
    width: 0rem;
    height: 0rem;
  }
  50% {
    width: 8rem;
    height: 8rem;
  }
  100% {
    width: 6.6rem;
    height: 6.6rem;
  }
}
@media screen and (max-width: 576px) {
  .go-top-container {
    bottom: 0;
    right: 0;
  }
}
#sectionFooter {
  padding-top: 3rem;
  background-color: rgb(12, 12, 12);
}

/*# sourceMappingURL=styles.css.map */
