@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@300&family=Poppins:wght@300&family=Roboto+Mono:wght@300&family=Roboto:wght@100&family=Titillium+Web:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 20vh;
  margin-top: 10px;
}
.header .navbar {
  display: flex;
  background-color: rgb(12, 12, 12);
  font-family: "Titillium Web", sans-serif;
}
.header .navbar .navbar-brand img {
  height: 17vh;
}
.header .navbar .button,
.header .navbar .button::before,
.header .navbar .button::after,
.header .navbar .button span,
.header .navbar .button span::before,
.header .navbar .button span::after {
  transition: all ease 0.5s;
}
.header .navbar .button {
  position: relative;
  display: inline-block;
  padding: 0.3em 2rem;
  border: solid 1px;
  text-transform: uppercase;
  cursor: pointer;
}
.header .navbar .button:hover {
  box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.5);
}
.header .navbar .button span {
  display: inline-block;
  width: 100%;
  padding: 0.6em 2em;
}
.header .navbar .button:hover span {
  background-color: #fff;
  color: #112;
}
.header .navbar .button::before,
.header .navbar .button::after,
.header .navbar .button span::before,
.header .navbar .button span::after {
  content: "";
  position: absolute;
  border: 1px;
}
.header .navbar .button::before,
.header .navbar .button span::before {
  border-style: solid none;
}
.header .navbar .button::before,
.header .navbar .button span::after {
  left: 0;
  top: -0.4em;
  width: 100%;
  height: calc(100% + 0.8em);
}
.header .navbar .button::after,
.header .navbar .button span::after {
  border-style: none solid;
}
.header .navbar .button::after,
.header .navbar .button span::before {
  top: 0;
  left: -0.4em;
  height: 100%;
  width: calc(100% + 0.8em);
}
.header .navbar .button:hover::after,
.header .navbar .button:hover span::after {
  transform: scaleY(0);
}
.header .navbar .button:hover::before,
.header .navbar .button:hover span::before {
  transform: scaleX(0);
}
.header .navbar .button:hover span::after,
.header .navbar .button:hover span::before {
  opacity: 0;
}

@media screen and (max-width: 576px) {
  .navbarCont {
    height: 40vh;
    width: 100vw;
    margin-left: -24px;
    position: relative;
    background-color: rgb(12, 12, 12);
    padding: 20px;
    z-index: 10;
  }
  .navbarCont .nav-item {
    margin-top: 1.5rem;
  }
  .collapseContainer {
    z-index: 11;
  }
  .smnavbar {
    background-color: rgb(12, 12, 12);
  }
}
main {
  height: 170vh;
}
main .carouselContainer {
  z-index: 1;
}
main .tituloPrincipal {
  text-align: center;
  border-bottom: 2px solid #7a7a7a;
  padding-bottom: 10px;
  margin: 0 50px;
  font-family: "Alumni Sans", sans-serif;
  z-index: 11;
  position: relative;
  margin-top: 150px;
}
main .sectionCards {
  margin-top: 3em;
}
main .sectionCards .card {
  padding: 10px;
  margin: 0 10px;
}

@media screen and (max-width: 576px) {
  .carouselContainer {
    top: 100px;
  }
  .tituloPrincipal {
    position: absolute;
  }
}
.tituloCards {
  text-align: center;
  margin-top: 5rem;
}
.tituloCards h1 {
  font-size: 4rem;
  font-family: "Titillium Web", sans-serif;
}
.tituloCards p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.containerCards {
  width: 100%;
  display: flex;
  margin-left: 1rem;
}
.containerCards .cardProd {
  margin-left: 50px;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.322);
  border-radius: 6px;
  box-shadow: 10px 10px 5px rgba(83, 82, 82, 0.486);
  background-color: rgb(228, 228, 228);
}
.containerCards .cardProd .h3Card {
  border-top: 2px solid #7a7a7a;
  margin-top: 10px;
  margin: 10px 20px;
}
.containerCards .cardProd p {
  text-align: left;
  margin-left: 2rem;
}
.containerCards .cardProd .precio {
  font-size: 2rem;
  color: rgb(3, 3, 58);
}
.containerCards .cardProd .btn-precio {
  background-color: rgb(59, 59, 129);
  color: white;
  text-decoration: none;
  padding: 12px;
  border-radius: 4px;
  display: block;
  margin: 0 4rem;
}
.containerCards .cardProd .btn-precio:hover {
  background-color: rgb(84, 84, 197);
}

/*Mq para celulares*/
@media screen and (max-width: 576px) {
  main {
    height: 430vh;
  }
  main .tituloCards h1 {
    font-size: 2.5rem;
  }
  main .tituloCards p {
    font-size: 1.1rem;
  }
  main .containerCards {
    margin-left: -1.5rem;
  }
}
.mainNosotros {
  background-color: rgb(199, 196, 196);
}
.mainNosotros .descripcion {
  width: 60%;
  padding: 100px;
  font-size: 2rem;
  margin-top: 5rem;
  font-family: "Roboto", sans-serif;
}

footer {
  background-color: rgb(12, 12, 12);
}

/*# sourceMappingURL=styles.css.map */
