.tituloCards{
    text-align: center;
    margin-top: 5rem;
    h1{
        font-size: $tamanotitulo;
        font-family: $fuenteheader;
    }
    p{
        font-family: $fuenteparrafo;
        font-size: $tamanoparrafo;
    }
}
.containerCards{
    width: 100%;
    display: flex;
    margin-top: 5rem;
    margin-left: 1rem;
    height: 120vh;
    .cardProd{
        
        .h3Card{
            border-top:2px solid #7a7a7a;
            margin-top: 10px;
            margin: 10px 20px;
        }
        p{
            text-align: left;
            margin-left: 2rem;
        }
        .precio{
            font-size:2rem;
            color: rgb(3, 3, 58);
        }
        .btn-precio{
            background-color: rgb(59, 59, 129);
            color: white;
            text-decoration: none;
            padding: 12px;
            border-radius: 4px;
            display: block;
            margin: 0 4rem;
            &:hover{
                background-color: rgb(84, 84, 197);
            }
        }
    }
}
/*Mq para celulares*/
@media screen and (max-width: 576px){
    .mainProd{
        height: 435vh;
        .tituloCards{
            h1{
                font-size: $tamanotitulosm;
            }
            p{
                font-size: $tamanoparrafosm;
            }
        }
        .containerCards{
            margin-left: -1.5rem;
            .cardProd{
                margin-bottom: 1rem;
            }
        }
    }
}
