.mainEventos{
    margin-bottom: 4%;
    .tituloEventos{
        margin-top: 5rem;
        text-align: center;
        h1{
            font-size: 4rem;
            font-family: $fuentetitulo;
            border-bottom: 2px solid #7a7a7a;;
        }
    }
    .gridEventos{
        margin-top: 5rem;
        .cardEventos{
            text-align: center;
            font-family:$fuenteparrafo2;
            background-color: map-get($color, colorcards);
        }
    }
}

@media screen and (max-width: 576px){
    .mainEventos{
        align-items: center;
        .tituloEventos{
            align-items: center;
            h1{
                font-size:map-get($tamanotexto, tamanotitulosm);
            }
        }
        .cardEventos{
            width: 85%;
            margin-left: 2rem;
        }
    }
}