@mixin borderline ($bordelinea) {
    border: $bordelinea;
    border: 2px solid #7a7a7a;;
}


%cards{
        margin-left:50px;
        text-align: center;
        border: 2px solid rgba(0, 0, 0, 0.322);
        border-radius: 6px;
        box-shadow: 10px 10px 5px rgba(83, 82, 82, 0.486);
        background-color: $colorcards;
}

//CADA CLASE DISTINTA

card-gold {
 @extend %cards;
 background-color: gold;
}

card-silver{
 @extend %cards;
 background-color: silver;
}

card-platinum{
 @extend %cards;
 background-color: green;
}